[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.11'

[packages]
numpy = "*"
pandas = "*"
fastapi = {extras = ["all"], version = "*"}
scipy = "*"
statsmodels = "*"
seaborn = "*"
pymc = "*"
peplot = {file = "https://plot-redesign-wediywqnfa05wi3v.web.app/peplot/peplot-0.1.0-py3-none-any.whl"}
